<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name='wmail-verification' content='aeb7261e69a665a8dbd1f56e568d9b87' />
    <meta name="description"
        content="Бетон в Дубках - производитель лучшего качественного бетона в Симферополе. М200 - от 3500р М250 - от 3700р. Без посредников.">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    {{#if isTodo}}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/todo.css">

    {{else}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/mobile.css">
    {{/if}}

    <title>{{title}}</title>
</head>