<nav>
    <ul class="navbar container">
        {{#if isMain}}
        <li class="active">
            <a href="/" class="navbar-link">Главная</a>
        </li>

        {{else}}
        <li class="">
            <a href="/" class="navbar-link">Главная</a>
        </li>
        {{/if}}


        {{#if isFeedbacks}}

        <li class="active">
            <a href="/feedback/all" class="navbar-link">Отзывы</a>
        </li>

        {{else}}
        <li class="">
            <a href="/feedback/all" class="navbar-link">Отзывы</a>
        </li>
        {{/if}}

        {{#if isKontakts}}

        <li class="active">
            <a href="/kontakts" class="navbar-link">Контакты</a>
        </li>

        {{else}}
        <li class="">
            <a href="/kontakts" class="navbar-link">Контакты</a>
        </li>
        {{/if}}
    </ul>
</nav>