<nav>
    <ul class="navbar container">
        <li class="active">
            <a href="/" class="navbar-link">Главная</a>
        </li>
        <li>
            <a href="/beton" class="navbar-link">Бетон</a>
        </li>
        <li>
            <a href="/info" class="navbar-link">О нас</a>
        </li>
        <li>
            <a href="/kontakts" class="navbar-link">Контакты</a>
        </li>
    </ul>
</nav>