<div>
    <ul class="top-lay">
        <li>

            <a href="/">
                <img src="../img/baner.png" alt="ss">
                <h1 class="logo">Бетон в дубках</h1>
            </a>
        </li>
        <li class="center">
            <h2><a href="tel:+79787092272" class="Blondie">+7(978)709-22-72</a></h2>
            <h5>Ежедневно с <strong>08:00</strong> до <strong>20:00</strong></h5>
        </li>
    </ul>
</div>