<!-- Modal Structure -->
<div class="calc">
    <div class="calc-body">
        <div class="input-field col s12">
            <select id="select">
                <option value="" disabled selected>Марка бетона</option>
            </select>
            <label>Марка бетона</label>
        </div>
        <ul class="collection">
            <li class="collection-item">
                <div class="calc_inp row s12">
                    <h6 class="col s6">Общая длинна ленты <strong>(м)</strong></h6>
                    <div class="input-field col s6">
                        <input placeholder="0" id="count" type="text" class="validate" pattern="[0-9\.]*">
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="calc_inp row s12">
                    <h6 class="col s6">Ширина ленты <strong>(м)</strong></h6>
                    <div class="input-field col s6">
                        <input placeholder="0" id="width" type="text" class="validate" pattern="[0-9\.]*">
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="calc_inp row s12">
                    <h6 class="col s6">Высота ленты <strong>(м)</strong></h6>
                    <div class="input-field col s6">
                        <input placeholder="0" id="height" type="text" class="validate" pattern="[0-9\.]*">
                    </div>
                </div>
            </li>
        </ul>
        <div class="calc-body_size row s12">
            <h5 class="col s6">Объем:</h5>
            <input class="col s6" type="text" disabled value="0 м3">
        </div>
        <div class="calc-body_price row s12">
            <h5 class="col s6">Цена:</h5>
            <input class="col s6" type="text" disabled value="0 р">
        </div>
    </div>

    <div class="form-call-me calc-form">
        <h5 class="form-call-me_big">Оставьте заявку и получите самое выгодное предложение</h5>
        <div class="row">
            <form class="col s12" method="POST" action="/form">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefixx" name="name" type="text" class="validate form_name" required>
                        <label for="icon_prefixx">Ваше имя</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephon" name="phone" type="tel" class="validate form_phone"
                            pattern="[/+]?[0-9]*" minlength="10" maxlength="18" required>
                        <label for="icon_telephon">Номер телефона</label>
                    </div>
                    <button
                        class="baner_btn waves-effect waves-light btn col center s12 modal-trigger">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>