<!-- Modal Structure -->
<div class="calc">
    <div class="calc-body">
        <div class="input-field col s12">
            <select id="select">
                <option value="" disabled selected>Марка бетона</option>
            </select>
            <label>Марка бетона</label>
        </div>
        <input type="text" class="count" placeholder="Объем бетона">
        <div class="calc-body_price">
            <h5>Цена:</h5>
            <input type="text" disabled value="0р">
        </div>
    </div>
    <button class="btn">Подробнее</button>
</div>