<div class="kontakts">
    <div class="kontakts-text">
        <h3>Контакты</h3>
        <div class="kontakts_block">

            <h4>Телефон:</h4>
            <h4><a href="tel:+79787092272" class="Blondie">+7(978)709-22-72</a></h4>

        </div>

        <div class="kontakts_block">

            <h4>График работы:</h4>
            <h5>Каждый день с 08:00 до 20:00</h5>

        </div>

        <div class="kontakts_block">

            <h4>Адрес:</h4>
            <h5>ул. Гаражная 13, Симферополь</h5>

        </div>

        <div class="kontakts_block">

            <h4>Сайт разработан:</h4>
            <h5><a href="https://vk.com/memetb">vk.com/memetb</a></h5>

        </div>

    </div>
    <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A7e782a871d0cd62117681b63a71646d903744221dcee9072a5811d43d1bcdfe8&amp;source=constructor"
        width="500" height="400" frameborder="0"></iframe>
</div>