<div class="info">
    <div class="info-text">
        <h4>Качественный бетон с доставкой</h4>
        <p>Перед каждым человеком или организацией при планировании практически любых строительных работ возникает
            первоочередной вопрос: «Где можно недорого купить качественный готовый бетон с доставкой?» Дело в том, что
            данный строительный материал является универсальным – его можно одинаково эффективно использовать при
            возведении
            сооружений самого различного назначения, начиная от дорог, и заканчивая небоскребами. Не удивительно, что
            продажа бетона с доставкой относится к одной из наиболее востребованных услуг во всех регионах России.
            Симферополь и Симферопольский район при этом занимает высокие позиции, поскольку в Крыму сейчас
            происходит
            бум строительства.</p>
        <p>Если вы желаете купить бетон с доставкой, свои профессиональные услуги предлагает "Бетон в Дубках"</p>
    </div>
    <div class="info-img">
        <img src="/mixer.jpg" alt="">
    </div>
</div>


<div class="advantages">
    <div class="advantages-text">
        <h4>Наши преимущества</h4>
        <ul>
            <li>
                <i class="material-icons">trending_up</i><strong>Мы работаем без посредников</strong>, поэтому
                стоимость продажи куба бетона с доставкой в Cимферополе и Симферопольском районе находится на
                минимальном уровне.
            </li>
            <li>
                <i class="material-icons">flash_on</i><strong>Оперативность.</strong>У нас собственный автопарк
                спецтехники, поэтому мы в кратчайшие сроки доставляем нужный объем бетона.
            </li>
            <li>
                <i class="material-icons">format_line_spacing</i><strong>Широкий ассортимент.</strong> Наш завод
                предлагает готовый бетон любых марок, а также цементный
                раствор в любых объемах.
            </li>
            <li>
                <i class="material-icons">picture_in_picture_alt</i><strong>Удобный калькулятор</strong> для расчета
                стоимости бетона, размещенный прямо на нашем сайте.
            </li>
        </ul>
    </div>
    <img src="/rbu.png" alt="">
</div>

<ul class="collection with-header price">
    <li class="collection-header">
        <div>
            <h5>Марка бетона</h5>
        </div>
        <div>
            <h5>Подвижность</h5>
        </div>
        <div>
            <h5>Цена за м3
                с НДС</h5>
        </div>
    </li>

</ul>
<div class="advantages advantages-end">
    <p class="advantages-text">
        <a href="tel:+79787092272" class="Blondie"><i class="material-icons">phone</i><strong>Позвоните</strong></a> нам
        прямо сейчас и закажите качественный
        бетон, доставка будет выполнена
        максимально быстро. Для удобства наших клиентов мы работаем без выходных!
    </p>
</div>