<div class="info">
    <div class="info-text">
        <h4>Качественный бетон с доставкой</h4>
        <p>Перед каждым человеком или организацией при планировании практически любых строительных работ возникает
            первоочередной вопрос: «Где можно недорого купить качественный готовый бетон с доставкой?» Дело в том, что
            данный строительный материал является универсальным – его можно одинаково эффективно использовать при
            возведении
            сооружений самого различного назначения, начиная от дорог, и заканчивая небоскребами. Не удивительно, что
            продажа бетона с доставкой относится к одной из наиболее востребованных услуг во всех регионах России.
            Симферополь и Симферопольская область при этом занимает высокие позиции, поскольку в Крыму сейччас
            происходит
            бум строительства.</p>
        <p>Если вы желаете купить бетон с доставкой в различные районы столицы и области, свои профессиональные услуги
            предлагает "Бетон в Дубках"</p>
    </div>
    <div class="info-img">
        <img src="/mixer.jpg" alt="">
    </div>
</div>


<div class="advantages">
    <div class="advantages-text">
        <h4>Наши преимущества</h4>
        <ul>
            <li>Мы работаем без посредников, поэтому стоимость продажи куба бетона с доставкой в Симферополе и
                Симферопольской области всегда находится на минимальном уровне.</li>
            <li>Оперативность. У нас имеется собственный автопарк спецтехники, поэтому вы в кратчайшие сроки сможете
                купить
                машину нужный вам объем бетона.</li>
            <li>
                Широкий ассортимент. Наш завод предлагает вам готовый бетон с доставкой любых марок,
                а также цементный раствор в произвольных количествах (от М100 до М500).
            </li>
            <li>Удобный калькулятор для расчета стоимости фундамента, размещенный прямо на нашем сайте.
                Позвоните нам прямо сейчас и закажите качественный бетон, доставка по области будет выполнена
                максимально
                быстро. Для удобства наших клиентов мы работаем без выходных!</li>
        </ul>
    </div>
    <img src="/rbu.png" alt="">
</div>

<ul class="collection with-header price">
    <li class="collection-header">
        <div>
            <h5>Марка бетона</h5>
        </div>
        <div>
            <h5>Подвижность</h5>
        </div>
        <div>
            <h5>Цена за м3
                с НДС</h5>
        </div>
    </li>

</ul>