<div class="advantages">
    <div class="advantages-text">
        <h4>Наши преимущества:</h4>
        <ul>
            <li>
                <i class="material-icons">merge_type</i><strong>Бетононасос</strong>, в нашем автопарке спецтехники
                имеется редкий миксер с насосом. Необходимая вещь когда нужно поднять бетон на второй этаж.
            </li>
            <li>
                <i class="material-icons">trending_up</i><strong>Мы работаем без посредников</strong>, поэтому
                стоимость куба бетона находится на минимальном уровне.
            </li>
            <li>
                <i class="material-icons">flash_on</i><strong>Оперативность. </strong>У нас собственный автопарк
                спецтехники, поэтому мы в кратчайшие сроки доставляем нужный объем бетона.
            </li>
            <li>
                <i class="material-icons">format_line_spacing</i><strong>Широкий ассортимент.</strong> Наш завод
                предлагает готовый бетон любых марок, а также цементный
                раствор в любых объемах.
            </li>
            <li>
                <i class="material-icons">picture_in_picture_alt</i><strong>Удобный <a
                        href="/calc">калькулятор</a></strong> для расчета
                стоимости бетона, размещенный прямо на нашем сайте.
            </li>
        </ul>
    </div>
    <div class="info-img">
        <img src="/rbu.png" alt="img">
    </div>
</div>

<div class="advantages advantages-blocks">
    <div class="advantages-text">
        <h4>С нами вы <strong>экономите</strong> деньги!</h4>
        <ul class="">
            <li><i class="material-icons">content_paste</i><strong>Наши специалисты</strong> на основе многолетнего
                опыта помогут подобрать оптимальную марку бетона, вам не придется платить за излишнюю прочность.</li>
            <li><i class="material-icons">label_outline</i><strong>Экономия на доставке.</strong> Мы осуществляем
                логистику миксерами нашей компании, это позволяет вам не терять от 1500р на каждом рейсе.</li>
            <li><i class="material-icons">attach_money</i>Оплата <strong>после</strong> приема бетона. Никаких
                предоплат, рассчет происходит только после отгрузки последней машины.</li>
        </ul>
    </div>
</div>

<div class="feedBack-wrapper">
    <h4>У нас <strong>десятки</strong> отзывов от наших клиентов!</h4>
    <div class="feedBack-card_arr"></div>
    <div class="feedBack-add_btn btn"><i class="material-icons">feedback</i><span>Оставить отзыв</span></div>
</div>

<div class="certificates_wrapper">
    <h4>Вся наша продукция сопровождается сертефикатами качества</h4>
    <div class="certificates">
        <a href="/DeclSert.jpg">
            <div class="decl"></div>
        </a>
        <a href="/SertSootv.jpg">
            <div class="sootv"></div>
        </a>
    </div>
</div>

<div class="price">
    <h4>Наши цены</h4>
    <ul class="collection with-header">
        <li class="collection-header">
            <div>
                <h5>Марка бетона</h5>
            </div>
            <div>
                <h5>Класс</h5>
            </div>
            <div>
                <h5>Цена за м3
                    с НДС</h5>
            </div>
        </li>
    </ul>
</div>

<div class="info">
    <div class="info-text">
        <h4>Качественный бетон с доставкой</h4>
        <p>Перед каждым человеком или организацией при планировании любых строительных работ возникает
            вопрос: <strong>«Где можно недорого купить качественный бетон с доставкой?»</strong> Не удивительно, что
            продажа бетона
            относится к одной из наиболее востребованных услуг во всех регионах России.
            Симферополь и Симферопольский район при этом занимает высокие позиции, поскольку в Крыму сейчас
            происходит бум строительства.</p>
        <p>Если вы желаете купить бетон с доставкой, свои профессиональные услуги предлагает <strong>"Бетон в
                Дубках"</strong></p>
    </div>
    <div class="info-img">
        <img src="/mixer.jpg" alt="img">
    </div>
</div>

<div class="advantages advantages-end">
    <p class="advantages-text">
        <a href="tel:+79787092272" class="Blondie"><i class="material-icons">phone</i><strong>Позвоните</strong></a> нам
        прямо сейчас. Мы работаем без выходных!
    </p>
</div>