* {
    margin: 0;
    padding: 0;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #008cff;
    -webkit-box-shadow: 0 1px 0 0 #008cff;
    box-shadow: 0 1px 0 0 #008cff;
    border-color: #008cff;
}

.btn {
    background-color: #0389e2;
}

.btn:hover {
    background-color: #0099ff;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-link {
    font-size: 1.2em;
}

nav {
    background-color: #039be5;
}

.top-lay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top-lay img {
    width: 100%;
}

.top-lay li h5 {
    color: #ffae00;
}

.logo,
.logo:hover {
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
}

.logo:hover {
    color: #008cff;
}

.baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 3vh;
    height: 55vh;
    background: #d8d8d8 url(https://besthqwallpapers.com/Uploads/16-11-2017/28911/daf-cf-8h4-2017-concrete-mixer-concrete-transportation.jpg);
    background-size: 100%;
    background-position: center;
}

.baner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.baner-text {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.baner-text_big {
    font-weight: bold;
}

.baner-text {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-shadow: #012350 0 0 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-call-me {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 2em;
    width: 40vh;
    /* height: auto; */
    padding: 1em;
}

.form-call-me button {
    background-color: #039be5;
}

.form-call-me button:hover {
    background-color: #06a9fa;
}

ul {
    list-style: square outside;
}

.info {
    margin-top: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info h4 {
    color: #008cff;
}

.info-img img,
.advantages img {
    width: 25vw;
    margin-left: 1vw;
    -webkit-box-shadow: 0 0 10px #0084ff49;
    box-shadow: 0 0 10px #0084ff49;
    border-radius: 20px;
    margin-left: 2em;
}

.info-text {
    width: 35vw;
    font-size: 1.2em;
    text-align: center;
}

/* price */

.price ul {
    margin-top: 2vh;
}

.price h4 {
    margin-top: 6vh;
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 0;
    color: #067bdb;
}

.price ul .collection-header {
    color: #067bdb;
    font-weight: bold;
}

.price ul li {
    display: -ms-grid;
    display: grid;
    height: 7vh;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.price ul li:first-child {
    height: 10vh;
}

.pric ul li:hover {
    background-color: #f1f1f1;
}

/* Advantages */

.advantages {
    margin-top: 5vh;
    font-size: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages h4 {
    color: #008cff;
    font-size: 2.6em;
    margin-bottom: .5em;
}

.advantages ul li {
    margin-top: 1vh;
}

.advantages-text p {
    margin-top: 4vh;
}

.advantages-text i {
    color: #008cff;
    font-size: 1.6em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-right: 1vw;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

.advantages-end {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.advantages-end .advantages-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    font-size: 1.5em;
}

/* Advantages blocks */

.advantages-blocks ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
}

.advantages-blocks ul li {
    border: 1px solid #1d16007e;
    padding: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0 0 2px #806e064f;
    box-shadow: 0 0 2px #806e064f;
}

.advantages-blocks ul li i,
.advantages-blocks h4 {
    color: #ff9100;
    text-align: center;
}

.advantages-blocks ul li i {
    font-size: 2em;
    -webkit-transform: translateY(.3em);
    -ms-transform: translateY(.3em);
    transform: translateY(.3em);
}

/* Kontakts */

.kontakts {
    margin-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.kontakts h4 {
    color: #008cff;
}

.kontakts h3 {
    text-align: center;
}

.kontakts_block {
    margin-top: 5vh;
}

.kontakts_block :last-child {
    margin-left: 1vw;
}

/* Calcul */

.calc {
    display: -ms-grid;
    display: grid;
    margin-top: 5vh;
    -ms-grid-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 4fr 1fr;
    grid-template-rows: 4fr 1fr;
}

.calc>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.calc>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.calc>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.calc>*:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.calc>*:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.calc>*:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.calc button {
    margin-top: 5vh;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2/2;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.calc-body,
.calc-body input,
option {
    text-align: center;
}

.calc-body {
    padding: 2vw;
    border-radius: 2vw;
    border: 2px solid #008cff;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
}

.calc-body .collection-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 9vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.calc_inp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.calc-body .row {
    margin-bottom: 0;
}

.calc_inp h6 {
    text-align: start;
}

.dropdown-content li>span {
    color: #0070bb;
    text-align: center;
}

/* footer */

.footer {
    margin-top: 5vh;
    height: 10vh;
    background-color: #039be5;
    -webkit-box-shadow: 0 0 10px #065780;
    box-shadow: 0 0 10px #065780;
    text-align: center;
}

.footer-cont {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-cont,
.footer-cont a {
    color: white;
}

/* Modals */

.modal-wrapper {
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(70, 70, 70, 0.856);
    top: 0;
}

.modal-ok {
    position: relative;
    font-size: 1.2em;
    margin-top: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80vw;
    height: 20vh;
    background-color: #fff;
}

.modal-ok .modal-content {
    text-align: center;
}

.modal-ok button {
    position: absolute;
    right: 0;
    bottom: 0vh;
}

@media (max-width: 1300px) {
    .baner {
        height: 60vh;
    }

    .baner-text {
        text-align: center;
    }

    .form-call-me {
        width: 50vh;
    }

    .advantages img {
        width: 25vw;
        height: 25vw;
        -webkit-box-shadow: 0 0 10px #0084ff49;
        box-shadow: 0 0 10px #0084ff49;
        border-radius: 20px;
    }

    .info-img img {
        width: 30vw;
        height: auto;
    }

    .advantages-end {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .advantages-end .advantages-text {
        width: 80%;
    }
}

@media (max-width: 1300px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 1080px) {
    .top-lay li a {
        font-size: 0.7em;
    }

    .advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .info-img img,
    .advantages img {
        width: 50vw;
        height: auto;
        -webkit-box-shadow: 0 0 10px #0084ff49;
        box-shadow: 0 0 10px #0084ff49;
        border-radius: 20px;
        margin-top: 4vh;
    }

    .info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .info-text {
        width: 100%;
    }
}