* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-link {
    font-size: 1.2em;
}

nav {
    background-color: #039be5;
}

.top-lay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo,
.logo:hover {
    transition: ease 0.4s;
}

.logo:hover {
    color: #008cff;
}

.top-lay img {
    width: 100%;
}

.baner {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
    height: 50vh;
    background: #d8d8d8 url(https://besthqwallpapers.com/Uploads/16-11-2017/28911/daf-cf-8h4-2017-concrete-mixer-concrete-transportation.jpg);
    background-size: 100%;
    background-position: center;
}

.baner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.baner-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.baner-text_big {
    font-weight: bold;
}

.form-call-me {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;
    width: 40vh;
    height: 45vh;
    padding: 2vh;
}