* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-link {
    font-size: 1.2em;
}

nav {
    background-color: #039be5;
}

.top-lay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo,
.logo:hover {
    transition: ease 0.4s;
}

.logo:hover {
    color: #008cff;
}

.top-lay img {
    width: 100%;
}

.baner {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
    height: 50vh;
    background: #d8d8d8 url(https://besthqwallpapers.com/Uploads/16-11-2017/28911/daf-cf-8h4-2017-concrete-mixer-concrete-transportation.jpg);
    background-size: 100%;
    background-position: center;
}

.baner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.baner-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.baner-text_big {
    font-weight: bold;
}

.form-call-me {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;
    width: 40vh;
    height: 45vh;
    padding: 2vh;
}

.form-call-me button {
    background-color: #039BE5;
}

.form-call-me button:hover {
    background-color: #06a9fa;
}

ul {
    list-style: square outside;
}

.info {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info h4 {
    color: #008cff;
}

.info-img img,
.advantages img {
    width: 50vh;
    height: auto;
    box-shadow: 0 0 10px #0084ff49;
    border-radius: 20px;
}

.info-text {
    width: 30vw;
    font-size: 1.2em;
    text-align: center;
}

.price {
    margin-top: 8vh;
}

.price .collection-header {
    color: #067bdb;
    font-weight: bold;
}

.price li {
    display: grid;
    height: 7vh;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
}

.price li:first-child {
    height: 10vh;
    /* color: #f0f0f0 */
}

.price li:hover {
    background-color: #f1f1f1;
}

.advantages {
    margin-top: 5vh;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantages-text {
    margin-right: 3vh;
}

.advantages h4 {
    color: #008cff;
}

.advantages ul li {
    list-style: circle;
    margin-top: 1vh;
}

.advantages-text {
    margin-right: 3vh;
}

.advantages-text p {
    margin-top: 4vh;
}

.advantages-text i {
    color: #008cff;
    font-size: 1.6em;
    justify-content: center;
    text-align: center;
    margin-right: 1vw;
    transform: translateY(5px);
}

.advantages-end {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.advantages-end .advantages-text {
    grid-column: 2/3;
    font-size: 1.5em;
}

.kontakts {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kontakts h4 {
    color: #008cff;
}

.kontakts h3 {
    text-align: center;
}

.kontakts_block {
    margin-top: 5vh;
}

.kontakts_block :last-child {
    margin-left: 1vw;
}


.footer {
    margin-top: 5vh;
    height: 10vh;
    background-color: #039be5;
    box-shadow: 0 0 10px #065780;
    text-align: center;
}

.footer-cont {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.footer-cont,
.footer-cont a {
    color: white;
}