@media (max-width: 414px) {

    .container {
        width: 90%;
    }

    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .top-lay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2vh;
    }

    .top-lay li h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .top-lay a {
        font-size: .8em;
    }

    .top-lay h1 {
        font-size: 4em;
    }

    .top-lay h5 {
        margin-top: 0;
        font-size: 1.1em;
    }

    .baner {
        margin-top: 2vh;
        height: auto;
        background-size: 300%;
    }

    .baner-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .form-call-me {
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 2vh;
        width: 95vw;
        height: auto;
        padding: 2vh;
        margin-bottom: 2vh;
    }

    .info {
        margin-top: 5vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .info h4 {
        color: #008cff;
    }

    .info-img img,
    .advantages img {
        margin-top: 2em;
        width: 90vw;
        height: auto;
        -webkit-box-shadow: 0 0 10px #0084ff49;
        box-shadow: 0 0 10px #0084ff49;
        border-radius: 20px;
        margin-left: 0;
    }

    .info-text {
        width: 95vw;
        font-size: 1.2em;
        text-align: unset;
    }

    .info-text :first-child {
        text-align: center;
    }


    /* feedback */


    .feedBack-wrapper h4 {
        font-size: 2em;
    }

    .feedBack-card {
        width: auto;
    }

    .feedBack-card_arr>div {
        left: 0;
    }

    /* price */



    .price ul {
        margin-top: 2em;
    }

    .price ul .collection-header {
        color: #067bdb;
        font-weight: bold;
    }

    .price ul li {
        display: -ms-grid;
        display: grid;
        height: 7vh;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        font-weight: bold;
        font-size: 1.2em;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .price ul li:first-child {
        height: 13vh;
    }

    .price ul li:first-child h5 {
        font-size: .9em;
        width: 100%;
        text-align: center;
    }

    .advantages {
        margin-top: 2vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .advantages-text {
        width: 100%;
        font-size: 1em;
    }

    .advantages-text h4 {
        font-size: 1.7em;
    }

    .advantages h4 {
        text-align: center;
    }

    .advantages ul li {
        list-style: none;
        margin-top: 1vh;
    }

    .advantages-blocks h4 {
        font-size: 1.7em;
    }

    .advantages-blocks .advantages-text ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .advantages-blocks .advantages-text ul li {
        margin-top: 1em;
    }

    .advantages-blocks .advantages-text ul li:first-child {
        margin-top: 0;
    }

    .advantages-end .advantages-text {
        width: 100%;
        font-size: 1em;
    }

    .kontakts {
        margin-top: 5vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .kontakts iframe {
        width: 90vw;
        height: auto;
    }

    .kontakts h4 {
        color: #008cff;
    }

    .kontakts h3 {
        text-align: center;
    }

    .kontakts_block {
        margin-top: 5vh;
    }

    .kontakts_block :last-child {
        margin-left: 1vw;
    }

    .calc {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 50fr 1fr;
        grid-template-columns: 1fr 50fr 1fr;
    }

    .calc-body_price {
        text-align: center;
    }

    .footer {
        height: 15vh;
    }

    .footer h5,
    .footer h6 {
        font-size: .9em;
    }

    iframe {
        margin-top: 2vh;
    }

    .footer-cont {
        height: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-cont,
    .footer-cont a {
        color: white;
    }
}

@media (max-width: 361px) {

    .advantages-text {
        width: 100%;
        font-size: 1.1em;
    }

    .advantages-text h4 {
        font-size: 1.5em;
    }

}

@media (max-width: 320px) {
    .baner-text_big {
        font-size: 1.7em;
    }

    .form-call-me {
        margin-top: 0;
        height: auto;
    }
}