.login-wrapper {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    width: 95%;
    background-color: #fff;
    border-radius: 1em;
}

.login :first-child {
    margin-bottom: 2vh;
}

.login :last-child {
    margin-bottom: 2vh;
}

.login .input-group-text {
    width: 6em;
}

.add {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.add> :first-child {
    text-align: center;
}

.todo-inf-group {
    display: flex;
    justify-content: space-between;
}

.todo-inf-group :first-child {
    text-align: start;
}

.accordion {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

button :last-child {
    float: right;
}

.pageInf {
    text-align: center;
    margin-top: 3vh;
}