<div class="login-wrapper">
    <div class="login">
        <h3>Менеджер клиентов <strong>авторизация</strong></h3>
        <form action="/todo/login" method="POST">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Логин</span>
                </div>
                <input type="text" class="form-control" id="login" name="login" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Пароль</span>
                </div>
                <input type="password" class="form-control" id="password" name="password"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <button class="btn btn-success" type="submit">Войти</button>
        </form>
    </div>
</div>